@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #444444;
  --header: #dc0d15;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header: var(--header);
  --font-sans: var(--font-open-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
}
